/* @import './base.css'; */

/* @import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite"; */

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1a1a1a;
    --color-text: #f0f0f0;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --color-background: #1a1a1a;
    --color-text: #f0f0f0;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
